@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Mulish', serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}
  