---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import GetToKnowMe from '../components/GetToKnowMe.astro';
import MySkills from '../components/MySkills.astro';
import LaboralExperience from '../components/LaboralExperience.astro';
import ContactForm from '../components/ContactForm.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Mi Portfolio - Javier Ruiz">
  <main class="min-h-screen">
    <Header />
    <GetToKnowMe />
    <MySkills />
    <LaboralExperience />
    <ContactForm />
    <Footer />
  </main>
</Layout>
